.wrapper{
  display: block;
}

.header{
height:500px;
background-image: url(../img/fries.jpg);
background-repeat: no-repeat;
background-size: cover;
/*background-image: image();*/

}

#logo {
  animation-name: slidein, flash, pulse, tada;
  animation-duration: 2s, 3s, 4s, 3s;
  animation-iteration-count: 2, 1, 1, 2;
  position: relative;
  text-align: center;
  margin: auto;
}

@keyframes slidein, flash, pulse , tada{
  from {
    margin-top: 50%;
    margin-right: 50%;
    width: 80%;
  }
  to {
    margin-left: 10%;
    margin-bottom: 40%;
    width: 90%;
  }
}

#img1 {
  margin-top: 60px;
}


.content{
width:100px;
background-color: white;

}

#image{
  width:400px;
  height:300px;
  margin: auto;

}

#topimg{

}

#bottomimg{

}
